<!-- GORADMONITOR -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-IDS-GORAD</title>
    <script src="/static/offline-mode/chart.js"></script>
    <script src="/static/offline-mode/axios.min.js"></script>
    <script src="/static/js/music-background.js"></script>
    <script src="/static/offline-mode/chartjs-plugin-datalabels"></script>


    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/offline-mode/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

        <!-- SweetAlert2 -->
    <script src="/static/offline-mode/sweetalert2@11"></script>

    

    <!-- W3 CSS -->
    <link rel="stylesheet" href="/static/css/w3.css">
    <!-- LOADING DATA CSS -->
    <link rel="stylesheet" href="/static/css/loading-data.css">
    <!-- WEBSOCKET SCRIPT -->
    <link rel="stylesheet" href="/static/css/loader-init.css">
    <script src="/static/js/script.js"></script>
    <script src="/static/js/welcome.js"></script>
    

    
    <!-- VOCAL COMMAND JS -->
    <script src="/static/js/vocal_command.js"></script>
    <link rel="stylesheet" href="/static/offline-mode/notyf.min.css">





    <script>  
        // Fonction qui sera déclenchée à chaque pression sur une touche
        window.addEventListener('keydown', function(event) {
          // Vérifie si la touche pressée est la barre d'espace (code 32)
          if (event.code === 'Space') {
            event.preventDefault();
            startVoice(); // Démarre la voix si c'est la barre d'espace
          }
        });
      </script>


    


</head>
    <body>
        

        <!-- LOADER SECTION -->

        <div id="loader" class="loader-container">
                    <!-- From Uiverse.io by krlozCJ --> 

            <div class="loader-terminal">
                <div class="container" style="display: flex;justify-content: center;align-items: center;">
                       
                <div class="loader l1"></div>
                <div class="loader l2"></div>
                <div class="loader l3"></div>
                <div class="loader l4"></div>
                <div class="loader l5"></div>
                <div class="loader l6"></div>
                <div class="loader l7"></div>
                </div>
            

            <pre id="terminalText"></pre>
            </div>
        </div>
        <script src="/static/js/loader.js"></script>
        <!-- LOADER END -->




        <header >
                <div class="header w3-card-4" id="head-status" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;">
                    <!-- Logo à gauche -->
                   <img src="/static/Gorad.png" alt="logo" width="100px" height="100px" style="position: absolute;margin-left: -10px;">
            
                    <!-- === Commande vocale === -->
                    <span id="status" style="color:white; flex-grow: 1;"></span> 
        
                    <div class="menu-container">
                        

                        <div class="burger" onclick="toggleMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                        <div class="menu-links" id="menuLinks">
                            <span id="machine-id"></span>
                            <a id="home_btn" href="{% url 'index' %}"">Home</a>
                            <a id="log_btn" href="{% url 'log' %}">Log Viewer</a>
                            <a id="home_btn" href="{% url 'setting' %}">Settings</a>

                            

                            <div id="settings-menu">
                                <label for="bg-select">Theme</label>
                                <select id="bg-select">
                                    <option value="natureXtechno.jpg">Nature X Tech</option>
                                    <option value="globe.jpeg">Globe</option>
                                    <option value="Neuronal_theme.png">Neuronal Themes</option>
                                    <option value="Network_RJ45.jpg">Network Server</option>

                                </select>

                            </div>
                            <h6 style="margin-right: -30px;margin-left: 5px;"><span id="system_status"></span></h6>
                            


                                <script src="/static/js/theme_select.js"></script>
                            
                            
                        </div>

                        <img src="/static/IA.jpeg" alt="gora" class="menu-avatar">
                    </div>

                    <script>
                        function toggleMenu() {
                            document.getElementById("menuLinks").classList.toggle("show");
                        }
                    </script>

                    </div>
            </header>
            <br><br><br><br><!-- ESPACING BEFORE CARD -->
            


  
    
        <div class="container content">

            <div class="card-for-column" data-aos="fade-left" >
                <!-- CPU Container -->
                <div id="cpu-container" class="column-card" >
                    
                    <span id="cpu-text" style="color: #00ff00; font-size: 20px; font-weight: bold;">
                        <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                    </span>
                </div>

                <!-- Disk Container -->
                <div id="disk-container" class="column-card" >

                    <span id="disk-text" style="color: #00ff00; font-size: 9px; font-weight: bold;">
                        <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                    </span>
                </div>



                
                <!-- RAM Container -->
                <div id="ram-container" class="column-card">

                    
                    <span id="ram-text" style="color: #00ff00; font-size: 20px; font-weight: bold;">
                        <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                    </span>
                </div>



                <!-- uptime Container -->
                <div id="uptime-contaner" class="column-card">

                    
                    <span id="uptime-text" style="color: #00ff00; font-size: 20px; font-weight: bold;">
                        <div class="three-body">
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            <div class="three-body__dot"></div>
                            </div>
                    </span>
                </div>
            </div>







        <div id="ports-container" class="card">
            <i class="fas fa-plug" style="float: left; font-size: 24px; color: #00ff00;"></i>
            <h3>
                Open Ports
                
            </h3>
            
            
            <ul id="open-ports"></ul>
            <h4 style="color:white; text-transform:uppercase;">
                <i class="fas fa-exclamation-triangle" style="margin-right: 10px; font-size: 24px;"></i> 
                Alerts
            </h4>

            <audio id="alert-sound" src="/static/alerte.mp3" preload="auto">audio</audio>


            <ul id="unauthorized-ports"></ul>
        </div>



        <div id="bandwidth-container" class="card">
            <h3 id="dos" style="font-size: 14px;"><i class="fas fa-tachometer-alt" id="no" style="float: right; font-size: 24px; color: #00ff00;"></i> <h6 id="total_data" style="position:absolute;font-size:12px;"></h6></h3>
            
            <p id="bandwidth-info">

            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                </div></p>
        </div>



        <div class="card">
            
            <canvas id="outboundTrafficChart" width="1000" height="600"></canvas>
        </div>



            <canvas id="process-chart-canvas"></canvas>
    
            <style>
                #process-chart-canvas {
                    width: 50%;
                    height:6500px;
                }
            </style>

    



        <!-- ALERTE MULTIPLE-PROCESSUS -->
   






        <div id="outbound-info" class="large-card" >
            <button id="outbound-button" onmouseover="OutboundFunction()" style="float: right; font-size: 10px;background-color: transparent;border: none;color: white;"><i class="fas fa-expand" title="Réduire" style="font-size: 14px;"></i></button><br><br>
        
                <div id="unauthorised_process" style="margin-top: -40px;"></div><br>
                
            <div id="outbound-container"></div>

            <p><div class="custom-spinner"></div></p>
        
        </div>



        <div id="cron-jobs-list" class="card">
            <h3>Tasks Scheduled <i class="fas fa-clock" style="float: right; font-size: 24px; color: #00ff00;"></i></h3> 
            <div class="three-body">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
            </div>
            
        </div>


  



                <!-- FULL CARD  -->
        
             <div id="process-info" class="large-card" >
                        <!-- Bouton pour alterner entre card et full-card -->
                <button id="toggle-button" onmouseover="ProcessFunction()" style="float: right; font-size: 10px;background-color: transparent;border: none;color: white;"><i class="fas fa-expand" title="Réduire" style="font-size: 14px;"></i></button>
                    <h3 style="color: #00ff00;"><i class="fas fa-rocket"></i> Process Watcher</h3>
                    <!-- MULTIPLE PROCESS WATcHER -->
                    <div id="multiple-process-alert" style="font-size: 10px;color: red;"></div><br>
                    <div id="process"></div> <!-- Ce div sera mis à jour -->
                    
                </div>
            


                              
        <div id="connections-info" class="card">
            <i class="fas fa-network-wired" style="float: left; font-size: 24px; color: #00ff00;"></i>
            <h3>
                Established
                
                    <button id="connection-button" onmouseover="etablishedFunction()" style="float: right; font-size: 10px;background-color: transparent;border: none;color: white;"><i class="fas fa-expand" title="Réduire" style="font-size: 14px;"></i></button>
             

            </h3>

            <ul id="connections-list"></ul>
        </div>


    






  

        
                <div id="usb-table" class="card"  >
                    <h3 style="color: #00ff00;">Usb Monitor <i class="fas fa-rocket" style="float: right; font-size: 24px; color: #00ff00;"></i></h3> 
                    <div id="usb" style="color:#00ff00;font-size: 12px;"></div>
        
                </div>
        
                <div id="typer-info" class="card" data-aos="fade-left">
                    <h3 style="color: #00ff00;">Typer Monitor <i class="fas fa-rocket" style="float: right; font-size: 24px; color: #00ff00;"></i></h3> 
                    <p id="typer-alert" style="color:red;font-size: 12px;"></p>
        
                </div>
        
                

        <div id="startup-info" class="large-card" >
            
            <h2><i class="fas fa-rocket"></i> Startup Info</h2>
            
            <div id="startup-details">
                
            </div>
        </div>




        


        <div id="file-info" class="large-card" >
            
            <h2><i class="fas fa-rocket"></i>File monitoring</h2>
            
            <div id="startup-details">
                
            </div>
        </div>





        <div id="file-scan-container" class="card"  >
            <h3>
                File Scan
                <i class="fas fa-search" style="float: right; font-size: 24px; color: #00ff00;"></i>
            </h3>
            
            <input type="file" id="file-upload" />

            <button onclick="scanFile()" style="background-color: #00ff00;border-radius: 10%;">Scan File</button>
            <div id="scan-results"></div>
        </div>


        <div id="firewall" class="card">

            <button onclick="setDefaultPolicy()">Activate Protection</button>



            <h4>Add address authorised</h4>
            <input type="text" id="ip-input" placeholder="Ex: 192.168.1.10">
            <button onclick="sendIP()">grant</button>
        
            <div id="firewall-status"></div>
        </div>
        




        </div>


        


<!-- Fenêtre modale pour afficher la réponse Gemini -->
<div id="gemini-modal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close-btn">&times;</span>
        <img src="/static/IA.jpeg" width="50px" height="50px" alt="GORA_DETAILS">

        <!-- Contenu de la réponse -->
        <button id="copy-gemini-response" style="position:relative;float: right;top: 10px;">Copy</button>
        <p id="gemini-response-text" style="margin-top: 10px;"></p>

        <!-- Bouton copier -->
       
    </div>
</div>






    </div>

    <!-- ANIMATE JS -->
    <script src="/static/js/animate/process.js"></script>
    <script src="/static/js/animate/startup.js"></script>
    <script src="/static/js/animate/outboundFunction.js"></script>
    <script src="/static/js/animate/etablishedFunction.js"></script>


    <script src="/static/js/copy.js"></script>
    <!-- Lien vers le JS de AOS -->
    <link href="/static/offline-mode/aos/aos.css" rel="stylesheet">
    <script src="/static/offline-mode/aos/aos.js"></script>
    <!-- MUSIC BACKGROND -->
    <script>
        AOS.init({
              // joue l'animation une seule fois
          offset: 0,    
          once: true,                   // démarre sans attendre le scroll
          delay: 0,                        // sans délai global
          duration: 700                   // durée globale si tu veux override
          });
          
    </script>
  
    

    </body>
        </html>
