<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Multi Monitoring | GORADMONITOR</title>
  <link rel="stylesheet" href="/static/css/multi-monitoring.css">
  
</head>
<body>

  <div class="loader-container">
    <div class="loader"></div>
  </div>
  <div class="content">
    <h1>Les machines surveillées</h1>
    <div id="agent-count" class="agent-counter">
      🖧 Agents connectés : <span id="agent-number">0</span>
    </div>
    


    <div id="dashboard">
    </div>
  </div>
  <script src="/static/js/multi.js"></script> 
 
</body>
</html>