<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multi Monitoring | GORADMONITOR</title>
  <link rel="stylesheet" href="/static/css/multi-monitoring.css">
  <link rel="stylesheet" href="/static/css/multi-header.css">

  <link rel="stylesheet" href="/static/offline-mode/fontawesome/css/all.min.css">

</head>
<body>

  <header>
    <div class="header w3-card-4" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 20px;background-color: #08130F ;">
                    <!-- Logo à gauche -->
                    <img src="/static/Gorad.png" alt="logo" width="100px" height="100px" style="position: absolute;margin-left: -10px;">

        <!-- === Commande vocale === -->
        <span id="status" style="color:white; flex-grow: 1;"></span> 



        <div class="menu-container">
            

            <div class="burger" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="menu-links" id="menuLinks">

<div class="state_container" style="margin-right: 10px;background-color: black;border-radius: 10px;">
              <span id="goodMachinesCount"></span>
              <span id="mediumMachinesCount"></span>
              <span id="criticalMachinesCount"></span>
</div>

          <input type="file" id="uploadProcessJson" accept=".json" style="margin-top: 3px;">
          <button onclick="sendProcessmultiConfig()" style="background-color: black;color: #00ff00;border-radius: 10px;margin-left: -50px;margin-right: 5px;">Upload Process</button>


                <div id="agent-count" class="agent-counter">
                  🖧 Machine connected : <span id="agent-number">0</span>
                </div>

                <span id="machine-id"></span>
                <a id="home_btn" href="{% url 'index' %}">Home</a>









                                           
                <div class="dropdown">
                  <button class="dropbtn" onclick="outputButton()">output</button>
                  <div class="dropdown-content" id="dropdown-settings">
             





                    <div id="commandOutput">
                      <div class="output-row">
                        <p class="output-text">>> Command output</p>
                    
                        <div class="leds">
                          <div class="led led-green"></div>
                          <div class="led led-red"></div>
                        </div>
                      </div>
                    </div>
                    
                    <style>

                      .output-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      }
                  
                    
                      .leds {
                        display: flex;
                        gap: 1px;
                      }
                    
                      .led {
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        animation: blink 1s infinite;
                      }
                    
                      .led-green {
                        background-color: #00ff00;
                        box-shadow: 0 0 10px #00ff00;
                      }
                    
                      .led-red {
                        background-color: #ff0000;
                        box-shadow: 0 0 10px #ff0000;
                        animation-delay: 0.5s;
                      }
                    
                      @keyframes blink {
                        0%, 100% { opacity: 1; }
                        50% { opacity: 0.2; }
                      }
                    </style>
                    
                    
                    


                  </div>
                </div>
   



                <div id="settings-menu">
                  <label for="bg-select">Theme</label>
                  <select id="bg-select">
                      <option value="natureXtechno.jpg">Nature X Tech</option>
                      <option value="globe.jpeg">Globe</option>
                      <option value="Neuronal_theme.png">Neuronal Themes</option>
                      <option value="Network_RJ45.jpg">Network Server</option>

                  </select>

              </div>
              
                  <script src="/static/js/theme_select.js"></script>
              
              
                </div>

            </div>



            <img src="/static/IA.jpeg" alt="gora" class="menu-avatar">
        </div>

        <script>
            function toggleMenu() {
                document.getElementById("menuLinks").classList.toggle("show");
            }
        </script>

        </div>
</header><br><br><br>



        <!-- LOADER SECTION -->
        <div id="loader" class="loader-container">
          <div class="loader-terminal">
          <pre id="terminalText"></pre>
          </div>
      </div>
      <script src="/static/js/loader_index.js"></script>
      <!-- LOADER END -->




      <div class="func_container" style="position: relative;">
        <div class="command-container" style="margin-top: 20px;">
          <input id="commandInputAll" type="text" placeholder="[command broadcast]" style="width: 300px; padding: 5px;" />
          <button onclick="sendCommandAll()" style="padding: 5px 10px;">execute to all</button>
          <button id="toggleBtn" onclick="toggleListbox()" style="padding: 5px 10px;">📂 Show Commands</button>
        </div>
        
        <!-- LISTBOX ABSOLUTE -->
        <div id="listboxContainer" style="
            display: none;
            position: absolute;
            top: 70px;
            left: 10px;
            z-index: 100;
            background: #1e1e1e;
            border: 1px solid #444;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        ">
          <label for="commandList" style="color: #fff;">Command Categories</label><br>
          <select id="commandList" size="10" style="width: 310px; padding: 5px;" onclick="selectAndClose()">
            
            <optgroup label="🖥️ System Commands">
              <option value="sfc /scannow">sfc /scannow -> check disk</option>
              <option value="del /q /f /s %TEMP%\*">del /q /f /s %TEMP%\* -> delete user temp files</option>
              <option value="chkdsk C: /F /R /X">chkdsk C: /F /R /X -> verify disk</option>
              <option value="del /q /f /s C:\Windows\Temp\*">del /q /f /s C:\Windows\Temp\* -> clean system cache</option>
            </optgroup>
<br>      
            <optgroup label="🌐 Network Commands">
              <option value="ipconfig /release">ipconfig /release -> Releases the current IP </option>
              <option value="ipconfig /renew">ipconfig /renew -> Requests a new IP address </option>
              <option value="netsh winsock reset">netsh winsock reset -> Resets the Winsock Catalog </option>
              <option value="netsh int ip reset">netsh int ip reset -> Resets the TCP/IP stack</option>
              
              <!-- Tu peux en ajouter d'autres ici -->
            </optgroup>
<br>

            <optgroup label="Firewall configuration">
              <option value="netsh advfirewall set allprofiles state on">Enable firewall</option>
              <option value="netsh advfirewall set allprofiles state off">Disable firewall</option>
              <option value="netsh advfirewall show allprofiles">Show firewall rules</option>
              <option value="netsh advfirewall reset">Reset firewall rules</option>

              <option value='netsh advfirewall firewall add rule name="Allow_Chrome" dir=in program="C:\Program Files\Google\Chrome\Application\chrome.exe" action=allow'>Allow program</option>

              
              <!-- Tu peux en ajouter d'autres ici -->
            </optgroup>



            <optgroup label="Utilities">
              <option value="shutdown /r /t 0">shutdown /r /t 0 -> restart computer</option>
            </optgroup>



        
          </select>
        </div>
        

        <script>
          function toggleListbox() {
            const box = document.getElementById('listboxContainer');
            box.style.display = (box.style.display === 'none') ? 'block' : 'none';
          }
        
          function selectAndClose() {
            const list = document.getElementById('commandList');
            const selectedCommand = list.value;
            document.getElementById('commandInputAll').value = selectedCommand;
        
            // Referme la box après sélection
            document.getElementById('listboxContainer').style.display = 'none';
          }
        
          function sendCommandAll() {
            const command = document.getElementById('commandInputAll').value;
            console.log("📡 Broadcasting command:", command);
            // Ton code d'envoi ici
          }
        </script>
        


      

        <div class="message-container" style="margin-top: 20px;">
          <input id="messageInputAll" type="text" placeholder="[Message for all machines]" style="width: 300px; padding: 5px;" />
          <button onclick="sendMessageAll()" style="padding: 5px 10px;background-color: black;border-radius: 6px;border: 1px solid #0f0;color: #00FF00;">Send message</button>
        </div>
        

        

    </div>






    <div id="dashboard">

<!-- CARD HERE -->
    </div>


    <p id="no-machine" style="color: white;position: relative;text-align: center;margin-top: 10%;"></p>
    <div class="parent">
      <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    

  </div>
  <script src="/static/js/multi.js"></script> 
  <script src="/static/js/output_js.js"></script>

  <!-- MULTI CONFIGURATION PROCESS -->
  <script src="/static/js/multi_process_conf.js"></script>
 
</body>
</html>