
body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #444040;
    color: #00ff00;
    overflow-x: hidden;
    
}


/*NAVBAR SECTIOn*/

    .menu-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: relative;
    }

    .menu-links {
        display: flex;
        align-items: center;
    }

    .menu-links a {
        color: green;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        margin-right: 10px;
    }
    .menu-links a:hover{
        background-color: white;
    }

    .menu-avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 40px;
    }

    .burger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        margin-right: 15px;
    }

    .burger span {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        border-radius: 3px;
    }

    #machine-id {
        color: white;
        margin-right: 15px;
    }

    @media (max-width: 900px) {
        .menu-links {
            display: none;
            flex-direction: column;
            font-size: 12px;
            background-color: #333;
            position: absolute;
            top: 50px;
            right: 0;
            padding: 10px;
            border-radius: 10px;
            z-index: 99;
            width: 300px;
        }

        .menu-links.show {
            display: flex;
        }

        .burger {
            display: flex;
        }

        .menu-avatar {
            margin-left: 10px;
        }
        #machine-id {
            color: white;
            margin-right: 15px;
            font: 12px;
        }
    }
    /* NAVBAR END SECTION */











.header {
    text-align: right;
    background-color: #333;
    font-size: 10px;
    color: white;
    text-shadow: 0 0 10px #00ff00;

    margin-top: 2px;
    box-shadow: 0 5px 5px #00ff00; 
}



#home_btn:hover {
    transform: scaleY(20px);
}

ul {
    font-size: 12px;
    padding-left: 0;
}

ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .menu-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        padding: 10px;
        border-radius: 10px;
        z-index: 99;
        width: 300px;
        font-size: 12px;
    }

    .menu-links.show {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .menu-avatar {
        margin-left: 10px;
    }
    #machine-id {
        color: white;
        margin-right: 15px;
        font: 12px;
    }
}



@media (max-width: 600px) {

    .container {
        padding: 20px;
    }

    .header {
        font-size: 1.2em;
    }

    ul {
        font-size: 10px;
    }


}







/* Bouton de fermeture */
.close-btn {
color: green;
float: right;
font-size: 28px;
font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
color: white;
text-decoration: none;
cursor: pointer;
}





    /* Animation glow */
    @keyframes glow {
    from {
        box-shadow: 0px 0px 10px 3px rgba(0, 255, 0, 0.2);
    }
    to {
        box-shadow: 0px 0px 20px 8px rgba(0, 255, 0, 0.5);
    }
}
