/* COLOR CARD #080F0D */

* {
  padding: 0;
  margin: 0;
}

body::before {
      content: "";
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);  /* 0.5 = 50% d'opacité */
      z-index: -1;
    }

 body {
      font-family: 'JetBrains Mono', monospace;
      margin: 0;
      background-image: url('/static/Network_RJ45.jpg');
      background-size: cover;
      background-attachment: fixed;
      padding: 0;
      color: #00ff00;
      overflow-x: hidden;
      
  }

  header{
    position: fixed; top: 0; left: 0; right: 0; z-index: 1000;
  }
  
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black; /* Même couleur que le body pour masquer le contenu initial */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* S'assurer qu'il est au-dessus de tout */
}

.loader {
  width: 100px;
  height: 100px;
  border: solid 4px rgba(231, 231, 231, 0);
  border-top: solid 5px #50fa7b;
  border-radius: 50%;
  transition: all 0.5s;
  animation: rotation_51512 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes rotation_51512 {
  70% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.526);
  }

  90% {
    box-shadow: 0px 0px 10px 50px rgba(241, 57, 57, 0.04);
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}

/* Styles pour le contenu principal (caché initialement) */
.content {
  display: none; /* Cacher le contenu initialement */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #080F0D; /* Dark background */
  color: #f8f8f2; /* Light text */
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; /* Assurer que le contenu prend toute la largeur */
  min-height: 100vh; /* Assurer que le contenu prend au moins toute la hauteur */
}

h1 {
  color: #50fa7b; /* Accent color */
  margin-bottom: 20px;
  text-align: center;
}

#dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card {
  margin-top: 20px;
  background: #080F0D; /* Dark card background */
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0 4px 8px #00ff00;*/
  transition: transform 0.2s ease-in-out;
  border-left: 5px solid #6272a4; /* Subtle border */
  height: 400px;
  overflow-y: scroll;
  width: 45%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.card strong {
  color: #8be9fd; /* Highlight color */
  font-weight: bold;
}

.card br {
  margin-bottom: 5px;
}

.error {
  background-color: #ff5555;
  color: #f8f8f2;
  font-weight: bold;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
}

.section-title {
  color: #f1fa8c; /* Another accent color */
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}





@media (max-width: 1200px) {
  .card {
      width: 100%;
  }

}

@media (max-width: 800px) {
  .card {
      width: 100%;
  }

}









/* CARD INTER CARD */


.inter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  margin: 10px;
}

.card-inter {
  background-color: #080F0D;  /* Gris foncé plus neutre */
  width: 22%;
  padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
  border: 1px solid black;

  text-align: center;
  box-sizing: border-box;
  height: 100px;
  overflow-y: auto;
  color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
  font-family: 'Inter', sans-serif;

  transition: all 0.6s ease-in-out;  /* Transition douce pour les effets */
}

.full-card-inter {
  background-color: #080F0D;  /* Gris foncé plus neutre */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombre douce et subtile */
  width: 90%;
  padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
  border: 1px solid #444444;  /* Bordure plus discrète */
  text-align: center;
  box-sizing: border-box;
  height: 100px;
  overflow-y: auto;
  color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
  font-family: 'Inter', sans-serif;

  transition: all 0.6s ease-in-out;  /* Transition douce pour les effets */
}

.middle-card-inter {
  background-color: #080F0D;  /* Gris foncé plus neutre */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombre douce et subtile */
  width: 45%;
  padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
  border: 1px solid #444444;  /* Bordure plus discrète */
  text-align: center;
  box-sizing: border-box;
  height: 100px;
  overflow-y: auto;
  color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
  font-family: 'Inter', sans-serif;

  transition: all 0.6s ease-in-out;  /* Transition douce pour les effets */
}






/* CONDITIONNAL COLOR */
/* Style pour l'état du net */
.status-up {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.status-down {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}
 