/* CARD COLOR #080F0D */
/* HEADER COLOR #08130F */
   

   body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* 0.5 = 50% d'opacité */
    z-index: -1;
    }

   body {
        font-family: 'JetBrains Mono', monospace;
        margin: 0;
        background-image: url('/static/Network_RJ45.jpg');
        background-size: cover;
        background-attachment: fixed;
        padding: 0;
        color: #00ff00;
        overflow-x: hidden;
        
    }
    header {
        position: fixed; top: 0; left: 0; right: 0; z-index: 1000;
    }


    /*NAVBAR SECTIOn*/

        .menu-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            position: relative;
        }

        .menu-links {
            display: flex;
            align-items: center;
        }

        .menu-links a {
            color: green;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            margin-right: 10px;
        }
        .menu-links a:hover{
            background-color: white;
            transition: 0.5s ease-in-out;
        }

        .menu-avatar {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-left: 40px;
        }

        .burger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            margin-right: 15px;
            animation: expandCard 0.6s ease;
        }

        .burger span {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 4px 0;
            border-radius: 3px;
        }

        #machine-id {
            color: white;
            margin-right: 15px;
        }

        @media (max-width: 600px) {
            .menu-links {
                display: none;
                flex-direction: column;
                background-color: #333;
                position: absolute;
                top: 50px;
                right: 0;
                padding: 10px;
                border-radius: 10px;
                z-index: 99;
                width: 300px;
                font-size: 12px;
            }

            .menu-links.show {
                display: flex;
            }

            .burger {
                display: flex;
                animation: expandCard 0.6s ease;
            }

            .menu-avatar {
                margin-left: 10px;
            }
            #machine-id {
                color: white;
                margin-right: 15px;
                font: 12px;
            }
        }
        /* NAVBAR END SECTION */

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
        margin: 10px;
    }

    .card {
        background-color: #080F0D;  /* Gris foncé plus neutre */
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombre douce et subtile */
        width: 22%;
        padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
        border: 1px solid #444444;  /* Bordure plus discrète */
        text-align: center;
        box-sizing: border-box;
        height: 220px;
        overflow-y: auto;
        color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
        font-family: 'Inter', sans-serif;

        transition: all 0.6s ease-in-out;  /* Transition douce pour les effets */
    }




    .card-for-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2px;
        width: 22%;
        padding: 2px;
        box-sizing: border-box;
        color: #ffffff;
        font-family: 'Inter', sans-serif;
    }
    
    .column-card {
        background-color: #080F0D;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border: 1px solid #444444;
        box-sizing: border-box;
        width: calc(50% - 10px);
        height: 110px;
        padding: 10px;
    
        /* Centrage du contenu */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        text-align: center;
        transition: all 0.3s ease-in-out;
        overflow-y:auto;
    }
    



    .large-card {
        background-color: #080F0D;  /* Gris foncé plus neutre */
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombre douce et subtile */
        width: 47%;
        padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
        border: 1px solid #444444;  /* Bordure plus discrète */
        text-align: center;
        box-sizing: border-box;
        height: 220px;
        overflow-y: auto;
        color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
        font-family: 'Inter', sans-serif;

        transition: all 0.5s ease-in-out;  /* Transition douce pour les effets */
    }

    .full-card {
        background-color: #080F0D;  /* Gris foncé plus neutre */
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  /* Ombre douce et subtile */
        width: 98%;
        padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
        border: 1px solid #444444;  /* Bordure plus discrète */
        text-align: center;
        box-sizing: border-box;
        height: 220px;
        overflow-y: auto;
        color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
        font-family: 'Inter', sans-serif;

        transition: all 0.3s ease;  /* Transition douce pour les effets */
        animation: shrinkCard 0.7s ease-in-out;
    }
    .hover-card {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 80vh;
        overflow-y: auto;
        z-index: 9999;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
        border: 2px solid #00ff00;

        background-color: #080F0D;  /* Gris foncé plus neutre */
        border-radius: 8px;
        padding: 15px;  /* Un peu plus d'espace interne pour une meilleure aération */
        border: 1px solid #444444;  /* Bordure plus discrète */
        text-align: center;
        box-sizing: border-box;
        color: #ffffff;  /* Texte en blanc pour contraster sur le fond sombre */
        font-family: 'Inter', sans-serif;

        transition: all 0.3s ease;  /* Transition douce pour les effets */
        animation: expandCard 0.7s ease-in-out;
    }


    .card:hover {
        
        border-color: #00ff00;
        box-shadow: 0 0 15px #00ff00, 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.3);
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }

    .large-card:hover {

        border-color: #00ff00;
        box-shadow: 0 0 15px #00ff00, 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.3);
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
    .column-card:hover {

        border-color: #00ff00;
        box-shadow: 0 0 15px #00ff00, 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.3);
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }
    .full-card:hover {

        border-color: #00ff00;
        box-shadow: 0 0 15px #00ff00, 0 0 30px rgba(0, 255, 0, 0.5), 0 0 50px rgba(0, 255, 0, 0.3);
        transform: scale(1.05);
        transition: all 0.5s ease-in-out;
    }



    @keyframes hacker-glow {
        0% {
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.2);
        }
        100% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.8), 0 0 40px rgba(0, 255, 0, 0.4);
        }
    }



    .card h3 {
        margin-top: 0;
        font-size: 16px;
        color: #00ff00;
        text-transform: uppercase;
        border-bottom: 1px solid #00ff00;
        padding-bottom: 8px;
        font-family: 'Inter', sans-serif;

    }

    .column-card h3 {
        margin-top: 2px;
        text-align: center;
        font-size: 16px;
        color: #00ff00;
        text-transform: uppercase;
        border-bottom: 1px solid #00ff00;
        padding-bottom: 8px;
    }

    canvas {
        margin-top: 10px;
        max-height: 150px;
    }

    .alert {
        background-color: #ff3d3d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        margin: 5px 0;
        font-size: 10px;
        text-align: left;
    }

    #unauthorized-ports {
        color: red;
    }
    .header {
        text-align: right;
        background-color: #08130F;
        font-size: 10px;
        color: white;
        text-shadow: 0 0 10px #00ff00;
        margin-bottom: 20px;
        margin-top: 2px;
        box-shadow: 0 5px 5px #00ff00; /* Ombre verte uniquement en bas */
        transition: box-shadow 0.5s ease, background-color 0.5s ease;
    }



    #home_btn:hover {
        transform: scaleY(20px);
    }

    ul {
        font-size: 12px;
        padding-left: 0;
    }

    ul li {
        list-style-type: none;
        margin-bottom: 5px;
    }

    
    @media (max-width: 1200px) {
        .card {
            width: 30%;
        }
        .card-for-column {
            width: 30%;
        }
        .large-card {
            width: 30%;
        }
    }

    @media (max-width: 900px) {
        .card {
            width: 45%;
        }
        .card-for-column {
            width: 45%;
        }
        .large-card {
            width: 45%;
        }
    }

    @media (max-width: 600px) {
        .card {
            width: 100%;
            height: auto;
        }
        .large-card {
            width: 100%;
        }

        .card-for-column {
            width: 100%;
        }
        .column-card {
            width: 100%;
        }
        .container {
            padding: 20px;
        }

        .header {
            font-size: 1.2em;
        }

        ul {
            font-size: 10px;
        }

        .alert {
            font-size: 8px;
        }
    }




    /* Style de la fenêtre modale */
    .modal {
        display: none; /* masquée par défaut */
        position: fixed;
        z-index: 9999; /* bien au-dessus */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    
        /* CENTRAGE FLEXBOX */
        display: flex;
        justify-content: center;
        align-items: center;
    
        overflow: auto; /* scroll si contenu déborde */
    }
    

    /* Contenu de la modale */
    .modal-content {
        background-color: #111;
        padding: 30px;
        border-radius: 12px;
        color: #0f0;
        width: 600px;               /* Fixe une largeur précise */
        height: 400px;              /* Fixe une hauteur précise */
        max-width: 90vw;            /* Empêche de dépasser l'écran */
        max-height: 90vh;
        overflow-y: auto;           /* Scroll si contenu déborde */
        box-shadow: 0 0 20px #0f0;
        position: relative;
        text-align: center;
    }
    
    

    /* Bouton de fermeture */
    .close-btn {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close-btn:hover,
    .close-btn:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
    }


  
  
    .loader-container {
        position: fixed;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: #00ff00;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        z-index: 999999;
    }
    
    .loader-terminal {
        color: #00ff00;
        font-family: "Courier New", Courier, monospace;
        font-size: 10px;
        padding: 20px;
        background: #000000;
        width: 80%;
        max-width: 600px;
        height: 300px;
        overflow-y: auto;
        white-space: pre-line;
        z-index: 999999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    




    /* Animation radar */
    @keyframes radar {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }

        /* Animation glow */
        @keyframes glow {
        from {
            box-shadow: 0px 0px 10px 3px rgba(0, 255, 0, 0.2);
        }
        to {
            box-shadow: 0px 0px 20px 8px rgba(0, 255, 0, 0.5);
        }
    }

    @keyframes expandCard {
        from {
            transform: translate(-50%, -50%) scale(0.8);
            opacity: 0.7;
            box-shadow: 0 0 10px #509c50;
        }
        to {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
            box-shadow: 0 0 30px #00ff00, 0 0 60px #00ff00 inset;
        }
    }

    @keyframes shrinkCard {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.5;
            


        }

    }
    
    

    /* THEME SELECT START */
    #settings-menu {

        background: rgba(0, 0, 0, 0.85);
        border: 1px solid #00ff00;
        border-radius: 8px;
        font-family: 'JetBrains Mono', monospace;
        color: #00ff00;
        z-index: 9999;
        box-shadow: 0 0 10px #00ff00;
        backdrop-filter: blur(5px);
    }

    
    
    
    /* THEME SELECT END */
 
  